<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blocker.call.wallpaper.screen.caller.ringtones.callercolor">
    <!-- ACCESS_FINE_LOCATION or ACCESS_COARSE_LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <!-- ligehui 指滑快切 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <!-- permission.GET_TASKS允许一个程序获取信息有关当前或最近运行的任务，一个缩略的任务状态，是否活动等等 Android L之前系统需要，之后则废弃，但还是要申明，避免像红米这样的手机报错 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 屏蔽home键 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- show pop up on screen off -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- shortcut -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 索尼显示图标红点的权限 -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 挂断手机权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读取手机状态权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 监听手机去电的权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 读取手机通讯录 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 修改通讯录 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 读取手机通话记录 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!-- 修改通话记录 -->
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <!-- 接听电话 -->
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <!-- Android 8.0 接听电话 官方api需要的权限 -->
    <uses-permission
        android:name="android.permission.ANSWER_PHONE_CALLS"
        android:required="false" />
    <uses-permission
        android:name="android.permission.READ_PHONE_NUMBERS"
        android:required="false" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- 读写短信权限 允许程序振动 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        android:required="false" />

    <application
        android:name=".ApplicationEx"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="blocker.call.wallpaper.screen.caller.ringtones.callercolor.glide.GlideModelConfig"
            android:value="GlideModule" />

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CallFlashDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CallFlashPreviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CallFlashAlbumactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CallFlashSetResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PermissionTipActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BlockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CallFlashAppCompatTheme"/>

        <service
            android:name=".service.LocalService"
            android:exported="true"
            android:priority="900" />
    </application>

</manifest>